# Java
campus-helper-server/target/
campus-helper-server/*.jar
campus-helper-server/logs/

# Node
campus-helper-client/node_modules/
campus-helper-client/dist/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
*.local
.env.local
.env.*.local
