html.dark {
  --el-menu-bg-color: #1d1e1f;
  --el-menu-text-color: #cfd3dc;
  --el-aside-logo-text-color: #cfd3dc;
  --el-aside-border-color: #414243;
  --el-header-bg-color: #1d1e1f;
  --el-header-text-color: #cfd3dc;
  --el-header-border-color: #414243;
}
